/* MAPS */
/* EXTEND */
.conocimientos, .homeServicios, .portfolio .homePorfotlio {
  display: flex;
  align-content: center;
  flex-wrap: wrap; }

/* MIXIN */
* {
  margin: 0;
  padding: 0; }

img {
  width: 100%;
  height: auto; }

.header .navbar {
  border-bottom: solid #b98ae6 1.5px;
  font-family: 'Nunito', sans-serif; }

.header .cabeceraLogo {
  width: 5rem;
  height: 5rem; }

.header .cabeceraNavegacion__lista {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: end; }

.header .cabeceraNavegacion__lista li:hover {
  color: #b98ae6;
  transform: scale(1.1); }

.header .cabeceraNavegacion .nav-item {
  margin-left: 5px;
  margin-right: 5px; }

.footer {
  background-color: #002745;
  min-height: 30vh;
  padding-top: 20px;
  color: #ffff; }
  .footer .footerLogo {
    width: 50px; }
  .footer h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    text-align: center; }
  .footer h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #b98ae6;
    margin-bottom: 10px; }
  .footer .footerEmail {
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-decoration: underline; }
    .footer .footerEmail:hover {
      color: #b98ae6; }
  .footer .footerRedes {
    width: 30px;
    list-style: none;
    text-decoration: none; }

@media only screen and (max-width: 780px) {
  .footerRedes {
    margin-top: 10px; } }

.backgroundBody {
  background-image: url("../imagenes/home2.png");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  background-color: transparent; }

.coverTitulo {
  font-family: 'Nunito', sans-serif;
  font-size: 44px; }

.cover .subtitulo {
  font-family: 'Nunito', sans-serif;
  font-size: 26px;
  color: #b98ae6;
  margin-top: 5px;
  margin-bottom: 30px;
  line-height: 1.2; }

.seccionConocimientos {
  margin-top: 40px;
  padding-top: 4%;
  padding-bottom: 4%;
  background-color: #b98ae6;
  border-radius: 10px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap; }
  .seccionConocimientos h3 {
    font-family: 'Nunito Sans', sans-serif;
    font-variant-caps: all-petite-caps;
    font-size: 24px;
    font-size: 900;
    color: #ffffff; }
  .seccionConocimientos .homeConocimientos__item {
    margin: 15px; }
  .seccionConocimientos .homeConocimientos__item img {
    padding-top: 10px; }

.botonCentral {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem; }
  .botonCentral .boton {
    text-decoration: none;
    background-color: #002745;
    color: #ffff;
    padding: 10px;
    border-radius: 3px;
    position: relative; }
    .botonCentral .boton:hover {
      background-color: #b98ae6;
      color: #002745; }

.seccion {
  padding-top: 50px;
  padding-bottom: 50px; }

@media only screen and (max-width: 780px) {
  .backgroundBody {
    background-size: auto;
    background-position: top;
    justify-content: right; }
  .homePorfotlio__imagen {
    width: 30%;
    margin: 5px; } }

.subtituloSeccion {
  font-family: 'Nunito', sans-serif;
  font-size: 44px;
  color: #002745;
  text-align: center; }

.descripcionSeccion {
  text-align: center; }

.conocimientos {
  padding-top: 5%;
  padding-bottom: 5%;
  height: 100%;
  justify-content: space-evenly;
  flex-direction: row;
  border-bottom: solid #b98ae6 1.5px; }
  .conocimientos__item {
    width: 20%;
    margin: 20px; }
    .conocimientos__item h3 {
      font-family: 'Nunito', sans-serif;
      font-variant-caps: all-petite-caps;
      font-size: 24px;
      font-size: 900;
      color: #002745; }

.seccionLaboral {
  min-height: 450px;
  margin-top: 5%;
  margin-bottom: 10%; }

.seccionLaboral__item .anio {
  color: #b98ae6;
  margin-bottom: 0px; }

.seccionLaboral__item .empresa {
  font-family: 'Nunito', sans-serif;
  font-variant-caps: all-petite-caps;
  font-size: 24px;
  font-size: 900;
  color: #002745;
  margin-bottom: 3px; }

.seccionLaboral__item .cargoDescripcion {
  padding-left: 15px;
  font-size: 14px; }

@media only screen and (max-width: 780px) {
  .conocimientos {
    flex-direction: column;
    width: 100%;
    border-bottom: solid #b98ae6 1.5px;
    padding-bottom: 20%; }
    .conocimientos__item {
      align-items: center;
      width: 100%; }
  .seccionLaboral {
    padding-top: 10%;
    padding-bottom: 10%; }
    .seccionLaboral__item {
      margin-bottom: 20px; } }

.homeServicios {
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 50px; }
  .homeServicios__item {
    width: 20%;
    margin: 4%; }
    .homeServicios__item h3 {
      font-variant-caps: all-petite-caps;
      font-size: 24px;
      font-size: 900;
      color: #b98ae6; }
    .homeServicios__item img {
      width: 30%; }

.destacado {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  color: #ffff;
  font-style: italic;
  background-color: #b98ae6;
  padding: 10px; }

@media only screen and (max-width: 780px) {
  .homeServicios {
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem; }
    .homeServicios__item {
      width: 90%;
      align-content: center;
      text-align: center;
      border-bottom: solid #b98ae6 1px; }
      .homeServicios__item p {
        margin-bottom: 2rem; }
      .homeServicios__item img {
        justify-items: center; } }

.cover {
  padding-top: 200px;
  padding-bottom: 250px; }
  .cover .coverTitulo__secciones {
    font-family: 'Nunito', sans-serif;
    font-size: 44px;
    margin-bottom: 10px; }
  .cover .boton {
    text-decoration: none;
    background-color: #002745;
    color: #ffff;
    padding: 10px;
    border-radius: 3px;
    margin-top: 30px; }
    .cover .boton:hover {
      background-color: #b98ae6;
      color: #002745;
      transform: scale(1.1); }
  .cover p {
    padding-right: 10rem; }

.portfolio {
  margin-bottom: 10rem; }
  .portfolio .subtituloSeccion {
    font-family: 'Nunito', sans-serif;
    color: #002745;
    text-align: center; }
  .portfolio .descripcionSeccion {
    text-align: center; }
  .portfolio .homePorfotlio {
    justify-content: space-between;
    padding-top: 20px; }
    .portfolio .homePorfotlio__imagen {
      width: 30%;
      margin: 5px; }

@media only screen and (max-width: 780px) {
  .cover p {
    margin-top: 30px;
    padding-right: 3rem; }
  .homePorfotlio {
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 2rem; }
    .homePorfotlio__imagen {
      width: 100% !important; } }

.coverContact {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5rem; }
  .coverContact .coverColumn {
    width: 100%;
    display: flex;
    justify-content: start;
    align-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap; }
    .coverContact .coverColumn .coverTitulo__secciones {
      font-family: 'Nunito', sans-serif;
      font-size: 44px;
      margin-bottom: 10px; }
    .coverContact .coverColumn .mapaContact {
      width: 100%;
      margin-top: 10px; }
    .coverContact .coverColumn .subtitulo {
      font-family: 'Nunito', sans-serif;
      font-size: 26px;
      color: #b98ae6;
      margin-top: 5px;
      margin-bottom: 30px;
      line-height: 1.2; }
    .coverContact .coverColumn .contact {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap; }
      .coverContact .coverColumn .contact input {
        margin-top: 2rem;
        border: none;
        border-bottom: 2px solid #002745;
        font-family: 'Nunito', sans-serif;
        font-size: medium;
        color: #002745; }
    .coverContact .coverColumn .contactSelector {
      margin-top: 5px;
      margin-bottom: 5px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap; }
      .coverContact .coverColumn .contactSelector label {
        margin-top: 2rem; }
  .coverContact .boton {
    text-decoration: none;
    background-color: #002745;
    color: #ffff;
    padding: 10px;
    border-radius: 3px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    float: right; }
    .coverContact .boton:hover {
      background-color: #b98ae6;
      color: #002745;
      transform: scale(1.1); }

@media only screen and (max-width: 780px) {
  .coverContact {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .coverColumn {
    padding-bottom: 50px; } }
