*{
    margin:0;
    padding:0;
}

img{
    width: 100%;
    height: auto;
}

/* Tipografía
font-family: 'Nunito', sans-serif;
font-family: 'Nunito Sans', sans-serif;
*/

.backgroundBody{
    background-image: url("./imagenes/home2.png");
    background-size:contain;
    background-position: top;
    background-repeat: no-repeat;
    background-color: transparent;
}

/* HEADER */
.header-grid{
    position: relative;
    font-family:'Nunito', sans-serif;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5rem;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    border-bottom: solid #b98ae6 1.5px;
}

.navbar{
    border-bottom: solid #b98ae6 1.5px;
    font-family:'Nunito', sans-serif;
}

.cabeceraLogo{
    width: 5rem;
    height: 5rem;
}

.cabeceraNavegacion__lista{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.cabeceraNavegacion a {
    text-decoration: none;
    margin: 15px;
    color: #002745;
}

.cabeceraNavegacion__lista li :hover{
    color: #b98ae6;
    transform: scale(1.1);
}

/* BODY */
.main-grid{
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    color: #002745;
    margin: 0px 16vw 0px 16vw;
}

.cover{
    padding-top: 200px;
    padding-bottom: 250px;
}

.coverContact{
    padding-top: 100px;
    padding-bottom: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
    width: 100%;
}

.contact{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.contact label, .contact input{
    margin-top: 2rem;
}

.contactSelector{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact input {
    border: none;
    border-bottom: 2px solid #002745;
    font-family: 'Nunito', sans-serif;
    font-size: medium;
    color: #002745;
}

.contact ::placeholder{
    font-family: 'Nunito Sans', sans-serif;
}

input[type='submit']{
    border: none;
    background-color:#002745;
    color:#ffffff;
    margin-top: 30px;
    float: right;
}

.mapaContact{
    width: 100%;
    margin-top: 10px;
}

.coverColor{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
}

.coverColumn{
    display: flex;
    justify-content:start;
    align-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.coverTitulo{
    font-family:'Nunito', sans-serif;
    font-size: 44px;
}

.coverTitulo__secciones{
    font-family:'Nunito', sans-serif;
    font-size: 44px;
    margin-bottom: 10px;
}

.subtitulo{
    font-family: 'Nunito', sans-serif;
    font-size: 26px;
    color: #b98ae6;
    margin-top: 5px;
    margin-bottom: 30px;
    line-height: 1.2;
}

.destacado{
    text-align: center;
    font-family:'Nunito', sans-serif;
    font-size: 20px;
    color:#ffff;
    font-style: italic;
    background-color: #b98ae6;
    padding: 10px;
}

.seccion{
    padding-top: 50px;
    padding-bottom: 50px;
}

.subtituloSeccion{
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    color:#002745;
    text-align: center;
}

.descripcionSeccion{
    text-align: center;
}

.boton{
    text-decoration: none;
    background-color: #002745;
    color: #ffff;
    padding: 10px;
    border-radius: 3px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.boton:hover{
    background-color: #b98ae6;
    color: #002745;
}

.botonCentral{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.botonCentral :hover{
    background-color: #b98ae6;
}

.seccionConocimientos{
    margin-top: 40px;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #b98ae6;
    border-radius: 10px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.seccionConocimientos h3{
    font-family: 'Nunito Sans', sans-serif;
    font-variant-caps: all-petite-caps;
    font-size: 24px;
    font-size: 900;
    color: #ffffff;
}

.homeConocimientos{
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.homeConocimientos__item{
    margin: 5%;
}

.homeConocimientos__item h3{
    font-variant-caps: all-petite-caps;
    font-size: 24px;
    font-size: 900;
    color: #ffffff;
}

.homeConocimientos__item img{
    padding-top: 10px;
}

.conocimientos{
    padding-top: 5%;
    padding-bottom: 5%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.conocimientos__item{
    width: 20%;
    margin: 5%;
}

.conocimientos__item h3{
    font-variant-caps: all-petite-caps;
    font-size: 24px;
    font-size: 900;
    color: #b98ae6;
}

.conocimientos__item img{
    padding-top: 10px;
}

.seccionLaboral{
    min-height: 450px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.homeServicios{
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
}

.homeServicios__item{
    width: 20%;
    margin: 4%;
}

.homeServicios__item h3{
    font-variant-caps: all-petite-caps;
    font-size: 24px;
    font-size: 900;
    color: #b98ae6;
}

.homeServicios__item img{
    width: 30%;
}

.homePorfotlio{
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    padding-top: 20px;
}

.homePorfotlio__imagen{
    width: 30%;
    margin: 5px;
}

.portfolio{
    margin-bottom: 30px;
}

/* FOOTER */
.footer-grid{
    position: relative;
    min-height: 30vh;
    padding-top: 20px;
    background-color: #002745;
    color: #ffff;
    padding-left: 50px;
    padding-right: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 1rem;
}

.footer{
    background-color: #002745;
    min-height: 30vh;
    padding-top: 20px;
    color: #ffff;
}

.footerColumn{
    width: 100%;
    text-align: center;
}

footer h1{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    text-align: center;
}

footer h2{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #b98ae6;
    margin-bottom: 10px;
}

.footerLogo{
    width: 50px;
}

.footerEmail{
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-decoration: underline;
}

.footerColumn a:hover{
    color: #b98ae6;
    transform: scale(1);
}

.footerRedes{
    width: 30px;
    list-style: none;
    text-decoration: none;
}

.footerRedes :hover{
    transform: scale(1);
}

/* Listo para mergear */

@media screen and (max-width: 768px) {
    .contenedor {
    grid-template-areas:
    "cabecera"
    "principal"
    "pie";
    }

    .backgroundBody {
        background-size:auto;
        background-position: top;
        justify-content:right;
    }

    .header-grid {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .main-grid {
        grid-template-columns: 1fr;
    }

    .cover {
        grid-template-columns:  1fr;
        gap: 2rem;
    }

    .botonCentral{
        margin-top: 0px;
    }

    .seccionConocimientos{
        margin-bottom: 2rem;
        padding: 1rem;
    }

    .homeConocimientos{
        flex-direction: column;
        width: 100%;
    }

    .homeConocimientos__item{
        align-items: center;
        width: 80%;
    }

    .homeServicios{
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .homeServicios__item{
        width: 90%;
        align-content: center;
        text-align: center;
        border-bottom:solid #b98ae6 1px;
    }

    .homeServicios__item img{
        justify-items: center;
    }

    .homeServicios__item p{
        margin-bottom: 2rem;
    }

    .homePorfotlio{
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 2rem;
    }

    .homePorfotlio__imagen{
        width: 100%;
    }

    .footer-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .conocimientos{
        flex-direction: column;
        width: 100%;
        border-bottom: solid #b98ae6 1.5px;
        padding-bottom: 20%;
    }

    .conocimientos__item{
        align-items: center;
        width: 100%;
    }

    .seccionLaboral{
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .coverContact{
        padding-top: 200px;
        padding-bottom: 250px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .coverColumn{
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }
}