.coverContact{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;

    .coverColumn{
        width: 100%;
        display: flex;
        justify-content:start;
        align-content: flex-start;
        flex-direction: column;
        flex-wrap: wrap;

        .coverTitulo__secciones{
            font-family:'Nunito', sans-serif;
            font-size: 44px;
            margin-bottom: 10px;
        }

        .mapaContact{
            width: 100%;
            margin-top: 10px;
        }

        .subtitulo{
            font-family: 'Nunito', sans-serif;
            font-size: 26px;
            color: $color-secundario;
            margin-top: 5px;
            margin-bottom: 30px;
            line-height: 1.2;
        }

        .contact{
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            input{
                margin-top: 2rem;
                border: none;
                border-bottom: 2px solid $color-principal;
                font-family: 'Nunito', sans-serif;
                font-size: medium;
                color: $color-principal;
            }
        }

        .contactSelector{
            margin-top: 5px;
            margin-bottom: 5px;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            label{
                margin-top: 2rem;
            }
        }
    }
    
    .boton{
        text-decoration: none;
        background-color: $color-principal;
        color: #ffff;
        padding: 10px;
        border-radius: 3px;
        position: relative;
        margin-top: 10px;
        margin-bottom: 10px;
        float: right;
    
        &:hover{
            background-color: #b98ae6;
            color: #002745;
            transform: scale(1.1);
        }
    }
}


@media only screen and (max-width: 768px) {
    .coverContact{
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .coverColumn{
        padding-bottom: 50px;
    }
}

/* llamar al if

@include mediaQuery (mobile){
    Agregar las etiquetas
}
@include mediaQuery(tablet){
    Agregar las etiquetas
}
*/