.header{
    .navbar{
        border-bottom: solid $color-secundario 1.5px;
        font-family:'Nunito', sans-serif;
    }

    .cabeceraLogo{
        width: 5rem;
        height: 5rem;
    }

    .cabeceraNavegacion{
        &__lista{
            width: 100%;
            list-style: none;
            display: flex;
            justify-content:end;
        }

        &__lista li:hover{
            color: $color-secundario;
            transform: scale(1.1);
        }

        .nav-item{
            margin-left: 5px;
            margin-right: 5px;
        }
    }
    
}