.backgroundBody{
    background-image: url("../imagenes/home2.png");
    background-size:contain;
    background-position: top;
    background-repeat: no-repeat;
    background-color: transparent;
}

.cover{
    &Titulo{
        font-family:'Nunito', sans-serif;
        font-size: map-get($tamanio-tipografia , titulo );
    }

    .subtitulo{
        font-family: 'Nunito', sans-serif;
        font-size: map-get($tamanio-tipografia , destacado );
        color: $color-secundario;
        margin-top: 5px;
        margin-bottom: 30px;
        line-height: 1.2;
    }
}

.seccionConocimientos{
    margin-top: 40px;
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: $color-secundario;
    border-radius: 10px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    & h3{
        font-family: 'Nunito Sans', sans-serif;
        font-variant-caps: all-petite-caps;
        font-size: map-get($tamanio-tipografia , versalitas );
        font-size: 900;
        color: #ffffff;
    }

    .homeConocimientos__item{
        margin: 15px;
    }

    .homeConocimientos__item img{
        padding-top: 10px;
    }
}

.botonCentral{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;

    .boton{
        text-decoration: none;
        background-color: $color-principal;
        color: #ffff;
        padding: 10px;
        border-radius: 3px;
        position: relative;
    
        &:hover{
            background-color: $color-secundario;
            color: $color-principal;
        }
    }
}

.seccion{
    padding-top: 50px;
    padding-bottom: 50px;
}

@include mediaQuery(tablet){
    .backgroundBody {
        background-size:auto;
        background-position: top;
        justify-content:right;
    }

    .homePorfotlio__imagen{
            width: 30%;
            margin: 5px;
        }
}