.coverColorBlue{
    background-color: $color-principal;
    color: #ffff;
}

.homeServicios{
    @extend %flex-center;
    justify-content: space-between;
    flex-direction: row;

    &__item{
        width: 20%;
        margin: 4%;

        & h3{
            font-variant-caps: all-petite-caps;
            font-size: map-get($tamanio-tipografia , versalitas );
            font-size: 900;
            color: $color-secundario;
        }

        & img{
            width: 30%;
        }
    }
}

.destacado{
    text-align: center;
    font-family:'Nunito', sans-serif;
    font-size: map-get($tamanio-tipografia , versalitas );
    color:#ffff;
    font-style: italic;
    background-color: $color-secundario;
    padding: 10px;
}

@include mediaQuery(tablet){
    .homeServicios{
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 2rem;
        margin-bottom: 2rem;

        &__item{
            width: 90%;
            align-content: center;
            text-align: center;
            border-bottom:solid $color-secundario 1px;

            & p{
                margin-bottom: 2rem;
            }

            & img{
                justify-items: center;
            }
        }
    }
}