.subtituloSeccion{
    font-family: 'Nunito', sans-serif;
    font-size: map-get($tamanio-tipografia , titulo );
    color:$color-principal;
    text-align: center;
}

.descripcionSeccion{
    text-align: center;
}

.conocimientos{
    padding-top: 5%;
    padding-bottom: 5%;
    height: 100%;
    @extend %flex-center;
    justify-content: space-evenly;
    flex-direction: row;
    border-bottom: solid $color-secundario 1.5px;

    &__item{
        width: 20%;
        margin: 20px;

        & h3{
            font-family:'Nunito', sans-serif;
            font-variant-caps: all-petite-caps;
            font-size: map-get($tamanio-tipografia , versalitas );
            font-size: 900;
            color: $color-principal;
        }
    }
}

.seccionLaboral{
    min-height: 450px;
    margin-top: 5%;
    margin-bottom: 10%;
}

.seccionLaboral__item{
    .anio{
        color: $color-secundario;
        margin-bottom: 0px;
    }

    .empresa{
        font-family:'Nunito', sans-serif;
        font-variant-caps: all-petite-caps;
        font-size: map-get($tamanio-tipografia , versalitas );
        font-size: 900;
        color: $color-principal;
        margin-bottom: 3px;
    }

    .cargoDescripcion{
        padding-left: 15px;
        font-size: 14px;
    }
}

@include mediaQuery(tablet){
    .conocimientos{
        flex-direction: column;
        width: 100%;
        border-bottom: solid $color-secundario 1.5px;
        padding-bottom: 20%;

        &__item{
            align-items: center;
            width: 100%;
        }
    }

    .seccionLaboral{
        padding-top: 10%;
        padding-bottom: 10%;

        &__item{
            margin-bottom: 20px;
        }
    }
}