$color-principal: #002745;
$color-secundario: #b98ae6;

/* MAPS */
$tamanio-tipografia:(
    titulo: 44px,
    subitulo: 32px,
    destacado: 26px,
    versalitas: 24px,
    parrafo: 14px,
    letra-chica: 12px,
);

/* EXTEND */
%flex-center{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
};

/* MIXIN */
@mixin flexbox ($direction, $align){
    display:flex;
    direction: $direction;

    @if $direction == column {
        justify-content: center;
    } @else {
        justify-content: space-evenly;
    }

    align-items: $align;
};

@mixin mediaQuery ($pantalla){
    @if $pantalla == 'mobile'{
        @media only screen and (max-width:500px){
            @content;
        }
    };
    @if $pantalla == 'tablet'{
        @media only screen and (max-width:780px){
            @content;
        }
    };
    @if $pantalla == 'desktop'{
        @media only screen and (max-width:1024px){
            @content;
        }
    };
}